.projectsMain{
    background-color: #c5c6c7;
}

.project{
    /* border-top: 5px solid #4abc76; */
    border: 2px solid #c5c6c7; 
    background-color: white;
    width: 96%;
    height: 74vh;
    margin-top:2%;
    margin-left: 2%;
    margin-bottom:2%;
    display:flex;
    justify-content: center;
    border-radius:25px; 
    box-shadow: 5px 10px 15px black;
    /* box-shadow: 5px 10px 15px #3fafd4; */
    /* #3fafd4 */
}
.projectName{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left:4%;
    width: 45%;
}
.projectImage{
    height: 50vh;
    width: 80vh;
    padding-top: 5%;
}

.projectDescription{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    display:flex;
    flex-direction: column;
}

.name{
    font-size: 1.6rem;
    font-weight: bolder;
}
.role{
    font-size: 1.6rem;
    font-weight: bold;
}
.accomplishments{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.0rem;
    font-weight: bold;
    padding: 3% 0;
}
.techStack{
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.4rem;
}
.tech{
    font-weight: bold;
}
.github{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.githubLinks{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    /* padding: 0 2% 0 2%; */
    text-decoration:none;
    font-size: 1.4rem;
    padding-bottom: 2%;
}
.link{
    text-decoration: none;
    padding-right: 3%;
    width:50%
}
.link1{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
   
}
.link2{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 40%;
}