.formSpace{
    display:flex;
    flex-direction: column;
    background: white;
    padding-top: 5%;
}

.form{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.sendername{
    width: 60%;
    margin-top: 8%;
    font-size: 1.8rem;
    box-shadow: 5px 10px 15px #3fafd4;
    border: none;
}
.sendername:focus{
    border: #3fafd4;
}
.email{
    width: 60%;
    margin-top: 4%;
    font-size: 1.8rem;
    box-shadow: 5px 10px 15px #3fafd4;
    border: none;
}

.message{
    width: 60%;
    margin-top: 4%;
    padding-bottom: 20%;
    font-size: 1.8rem;
    box-shadow: 5px 10px 15px #3fafd4;
    border: none;
}
