.formSpace{
    display:flex;
    height: 101vh;
    flex-direction: column;
    text-align: center;
    background: white;
    padding-top: 1.5%;
    background-image: url("./images/email-pattern.png");
    background-size: contain;
}

.form{
    width: 100%;
    height: 90vh;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.sendername{
    width: 40%;
    margin-top: 4%;
    font-size: 1.6rem;
    box-shadow: 5px 10px 15px #3fafd4;
    border: none;
    font-family: "Lucida Console", Courier, monospace;
}
.sendername:select{
    border: #3fafd4;
}
.email{
    width: 40%;
    margin-top: 4%;
    font-size: 1.6rem;
    box-shadow: 5px 10px 15px #3fafd4;
    border: none;
    font-family: "Lucida Console", Courier, monospace;
}

.message{
    width: 40%;
    margin-top: 4%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    font-size: 1.6rem;
    box-shadow: 5px 10px 15px #3fafd4;
    border: none;
    font-family: "Lucida Console", Courier, monospace;
}

.submit{
    font-family: "Lucida Console", Courier, monospace;
    width: 40%;
    height: 40px;
    border-radius: 25px;
    box-shadow: 5px 10px 15px #3fafd4;
}
.submit:hover{
    cursor: pointer;
}
.submit:focus{
    outline:none;
    border-radius: 25px;
}

#snackbar{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color:#3fafd4;
  color: #fff;
  text-align: center;
  border-radius: 25px;
  padding: 16px;
  position: fixed;
  z-index: 3;
  left: 15%;
  top: 30px;
  font-size: 1.2rem;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
