.Main{
    display:flex;
    width: 100%;

}
/* .SkillsSection{
    width:33%;
    display:flex;
    align-items: center;
    justify-content: center;
} */
.List{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.FrontEnd{
    padding-top: 3%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 60vh;
    border-bottom: 5px solid #404b69;
}

.BackEnd{
    display:flex;
    justify-content: flex-start;
}

.Titles{
    text-decoration: underline;
    display:flex;
    justify-content: center;
    color:#283149;
}
.FrontEndList{
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 0;
}
.Fundamentals{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.Libraries{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.Backend{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.icon{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 5%;
}
.icon:hover{
    transform: translateY(-8px);
}
.sqlLogo{
    height: 26.25px;
    width: 40px;
}
.logo{
    height: 26.25px;
    width: 26.25px;
    color: rgb(0, 123, 255);
}
.links{
    display:flex;
    justify-content: center;
    align-items: center;
    
    padding: 0 30%;
}

.link{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
    width: 20%; 
}

.connect{
    padding: 1% 0 3% 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dbedf3;
    
}

h3{
    color: rgb(118, 74, 188);
}
