.IntroMain{
    width: 100%;
    /* border-bottom: 5px solid #404b69; */
    display:flex;
    /* flex-direction: column; */
    height: 90vh;
    background-image: url("./Images/desk3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    font-family: "Lucida Console", Courier, monospace;
}


.IntroInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
    padding-top: 3%;
}

/* .bgIMG{
    width: 50%;
    background-image: url("./Images/computerdesk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
} */


.Name{
    font-size: 3.6rem;
    width: 100%;
    color:#686d76;
    padding-top: 1%;
    margin: 0;
    padding-right: 5%;
    padding-left: 5%;
}
.Title{
    font-size: 3rem;
    width: 100%;
    color:#686d76;
    padding-top: 5%;
    margin: 0;
}

.introButton{
    width: 100%;
    padding-top: 2%;
}
.introBtn{
    width: 20%;
    height: 40px;
    border-radius: 25px;
}
.introBtn:hover{
    cursor: pointer;
}
.introBtn:focus{
    outline:none;
    border-radius: 25px;
}

