.mainAbout{
    width: 100%;
    background-image: url("./images/trees.png");
    background-size: contain;
}

.mainIntro{
    display:flex;
    flex-direction: column;
    padding: 2% 20% 0 20%;
    height: 62vh;
}

.title{
    /* width: 100%; */
    display:flex;
    justify-content: flex-start;
    padding: 0 0%;
    padding-bottom: .5%;
}
.background{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1% 0%;
    overflow-wrap: break-word;
    word-wrap: normal;
    font-size: 1.1rem;
}
.background2{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1% 0%;
    overflow-wrap: break-word;
    word-wrap: normal;
    font-size: 1.1rem;
}
.wordsBackground{
    width: 90%;
    display:flex;
    justify-content: flex-start;
    margin: 0;
    
}
.ProfilePicture{
    border-radius:50%;
}